{% extends "base.html.twig" %}
{% block title %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns="http://www.w3.org/1999/html"/>
{% endblock %}
{% block body %}
   <div class="container ">
        <h2 class="bg-primary p-2 text-light mt-5 text-center">NoteMySchool</h2>

        <p class="text-center">Bienvenue école</p>

        Informations concernant le contrôle
        <ul class="list-group mt-1">
            
        </ul>
   </div>
{% endblock %}